<div class="jumbotron">
		<h1>FAQ</div>
		<p>This page will collect frequently asked questions and their respective answers as time and functionality progress. For now the only question is... when will this thing be done? And the answer is: Soon.</p>
</div>